{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form class="d-flex flex-column justify-content-center align-items-center" method="POST">
  <h3 align="center">Inscrivez-vous</h3>
  <div class="form-group" style="width: 500px">
    <label for="email">Adresse email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Entrez votre adresse email"
    />
  </div>
  <div class="form-group" style="width: 500px">
    <label for="firstName">Nom et Prénom</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Entrez votre nom et votre prénom"
    />
  </div>
  <div class="form-group" style="width: 500px">
    <label for="password1">Mot de passe</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Entrez votre mot de passe"
    />
  </div>
  <div class="form-group" style="width: 500px">
    <label for="password2">Confirmation</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirmez votre mot de passe"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">s'inscrire</button>
</form>
{% endblock %}
